name: OpenTelemtry Collector

on:
  push:
    branches: ["main"]
    paths:
      - otelcol/**
      - .github/workflows/**
  pull_request:
    paths:
      - otelcol/**
      - .github/workflows/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  earthly:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      # renovate: datasource=github-releases depName=earthly/earthly versioning=semver
      EARTHLY_VERSION: v0.8.7
      FORCE_COLOR: 1
      EARTHLY_CI: true
      IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/otelcol
    steps:
      - uses: earthly/actions-setup@v1
        with:
          version: ${{ env.EARTHLY_VERSION }}
      - uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3
      - id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=earthly/buildkitd:${{ env.EARTHLY_VERSION }}
      - run: echo "${BUILDKIT_NODES}" | jq -r '.[0].name | "EARTHLY_BUILDKIT_HOST=docker-container://buildx_buildkit_" + .' >> "${GITHUB_ENV}"
        env:
          BUILDKIT_NODES: ${{ steps.buildx.outputs.nodes }}
      - name: Login to ghcr.io
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Build otelcol
        run: earthly --buildkit-host "${EARTHLY_BUILDKIT_HOST}" --max-remote-cache ./otelcol+all --repository="${IMAGE_REPO}"
        env:
          EARTHLY_PUSH: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
          EARTHLY_REMOTE_CACHE: ghcr.io/${{ github.repository_owner }}/otelcol:cache
      - run: docker ps
