name: Build OpenTelemetry Collector(s)
on:
  workflow_call:
    inputs:
      push:
        type: boolean
        default: false
      images:
        type: string
        default: |
          ghcr.io/tosuke-homelab/otelcol

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: docker/setup-buildx-action@f7ce87c1d6bead3e36075b2ce75da1f6cc28aaca # v3.9.0
      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - if: inputs.push
        name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ${{ inputs.images }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=pr
            type=sha
      - name: Build and push artifacts
        uses: docker/bake-action@76f9fa3a758507623da19f6092dc4089a7e61592 # v6.6.0
        env:
          ON_DEFAULT_BRANCH: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
        with:
          push: ${{ inputs.push }}
          workdir: otelcol
          source: .
          # Tags are computed from DOCKER_METADATA_OUTPUT_TAGS (See. docker/metadata-action#398)
          files: |
            docker-bake.hcl
            ${{ steps.meta.outputs.bake-file-labels }}
          set: |
            *.cache-from=type=gha
            ${{ env.ON_DEFAULT_BRANCH == 'true' && '*.cache-to=type=gha,mode=max' || '' }}
